.products-background {
  width: 100%;
  height: 790px;
  background-image: linear-gradient(0deg, #fdfbfb 0%, #cfd0d1 100%);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.seccionsuperior {
  width: 1692px;
  height: 112px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 94px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.barrainferior {
  width: 1692px;
  height: 68px;
  background: rgb(255, 255, 255);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 94px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.orden-container {
  width: 312px;
  height: 59px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 129px;
  overflow: hidden;
}
.orden-separador {
  width: 312px;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 0px;
  border: 1px solid #DDDDDD;
}
.orden1-font {
  width: 104px;
  color: rgba(171,171,175,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.seccion-font {
  width: 277px;
  color: rgba(52,62,73,1);
  position: absolute;
  top: 80px;
  left: 14px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.resultados-font {
  width: 153px;
  color: rgba(49,49,49,1);
  position: absolute;
  top: 868px;
  left: 113px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
/* Contenedor de la paginación */
.paginationup-container {
  position: absolute; 
  top: 166px;
  left: 1563px;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
.paginationlow-container {
  position: absolute; 
  top: 858px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Alineación y estilo base de los números */
.pagination .page-link {
  border: none;
  color: #455260;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 0 6px;
  transition: background-color 0.3s, color 0.3s;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: Bold;
  font-size: 19px;
}

/* Círculo negro para el activo */
.pagination .page-item.active .page-link {
  background-color: #455260;
  color: #fff;
}

/* Hover solo para números, no flechas */
.pagination .page-item:not(.active):not(:first-child):not(:last-child) .page-link:hover {
  background-color: rgba(69, 82, 96, 0.45);
}

/* Estilo para las flechas (< y >) */
.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Sin hover para las flechas */
.pagination .page-item:first-child .page-link:hover,
.pagination .page-item:last-child .page-link:hover {
  background-color: transparent;
  color: #333;
}

.product-box {
  width: 276px;
  height: 449px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 94px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
}
.add-box {
  width: 237px;
  height: 45px;
  background: rgba(3,106,188,1);
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 113px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  border: none;
  color: rgba(255,255,255,1);
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-box:hover {
  background: rgba(2, 85, 150, 1);
  cursor: pointer;
  transition: background 0.3s ease;
}
.pricetag-font {
  width: 66px;
  color: rgba(105,105,105,1);
  position: absolute;
  top: 625px;
  left: 105px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.producto-font {
  width: 201px;
  color: rgba(70,70,73,1);
  position: absolute;
  top: 582px;
  left: 105px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.marca-font {
  width: 265px;
  color: rgba(109,109,109,1);
  position: absolute;
  top: 561px;
  left: 105px;
  font-family: Montserrat;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.producto-img {
  width: 276px;
  height: 276px;
  background: url("../images/producto-test.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 94px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  overflow: hidden;
}
.producto-separador {
  width: 276px;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 94px;
  border: 1px solid #dddddddd;
}
/* Botón orden */
.btn-order {
  position: absolute; 
  top: 123px;
  left: 129px;
  width: 312px;
  height: 36px;          
  line-height: 36px;
  padding: 0;       
  background-color: transparent;
  border-color: transparent;
  color: rgba(49,49,49,1);
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-order:hover:not([aria-expanded="true"]) {
  background-color: #CACACA !important;
  border: 1px solid transparent !important;
  color: rgba(49,49,49,1) !important;
  border-radius: 0 !important;
}

.btn-order[aria-expanded="true"] {
  background-color: transparent !important;
  border-color: transparent !important;
}

.btn-order::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  margin-right: 5px;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transition: transform 0.3s ease;
}

.btn-order[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.dropdown-order{
  width: 312px;
  color: rgba(49,49,49,1);
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  border-radius: 0;
}

.dropdownorder-item {
  padding-left: 2px;
  margin-left: 0;
  text-indent: 0;
}

.dropdownorder-item:hover {
  background-color: #CACACA !important;
}

.dropdown-item:active {
  color: rgb(0, 0, 0);
}