<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Compra Ferremas</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    {% load static %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/products.css' %}" rel="stylesheet" /> 
</head>
<body>

    <!-- Fondo -->
    <div class="background"></div>

    <!-- Logo con enlace a la página principal -->
    <div class="logo-container">
        <a href="{% url 'index' %}" style="text-decoration: none;">
            <span class="logo-font">FERREMAS</span>
            <div class="logo"></div>
        </a>
    </div>

    <!-- Categorías -->
    <div class="categorias-container">
        <div class="categorias-box"></div>
        <span class="categorias-menu-font">Categorías</span>
        <div class="arrow-img"></div>
        <div class="categorias-dropdown">
            <a href="#">Herramientas Manuales</a>
            <a href="#">Materiales Básicos</a>
            <a href="#">Equipos de Seguridad</a>
            <a href="#">Herramientas Eléctricas</a>
            <a href="#">Tornillos y Anclajes</a>
            <a href="#">Fijaciones y Adhesivos</a>
            <a href="#">Equipos de Medición</a>
        </div>
    </div>

    <!-- Barra de búsqueda -->
    <div class="search-bar-container">
        <div class="search-bar">
            <input type="text" class="search-bar-input" placeholder="Buscar..." />
            <div class="search-bar-button">
                <div class="search-bar-icon"></div>
            </div>
        </div>
    </div>

    <!-- Opciones superiores con lógica para mostrar el nombre del usuario si está autenticado -->
    <div class="upbar-container">
        {% if user.is_authenticated %}
            <div class="user-dropdown">
                <span class="inicio-font">Hola,<br>{{ user.first_name }}</span>
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        {% else %}
            <a href="{% url 'login' %}" style="text-decoration: none;">
                <span class="inicio-font">Hola,<br>Inicia sesión</span>
            </a>
        {% endif %}
        <div class="separador1"></div>
        <span class="compras-font">Mis Compras</span>
        <div class="separador2"></div>
        <div class="carro-img"></div>
    </div>

    <!-- Ubicación -->
    <div class="ubi-container">
        <div class="ubi-img"></div>
        <span class="ubi-font">Ingresa tu ubicación</span>
    </div>

    <!-- WhatsApp -->
    <div class="wsp-container">
        <span class="wsp-font">¿Necesitas ayuda? ¡Escríbenos!</span>
        <div class="wsp-img"></div>
    </div>

    <div class="products-background"></div>
    <div class="seccionsuperior"></div>
    <div class="orden-container">
        <div class="orden-separador"></div>
        <span class="orden1-font">Ordenar por:</span>
        <span class="orden2-font">Precio de menor a mayor</span>
        <!-- falta agregar secciones
        - precio mayor a menor
        - marca -->
        <div class="orden-arrow"></div>
    </div>
    <span class="seccion-font">Inicio > (Seccion de compra)</span>
    <div class="barrainferior"></div>
    <span class="resultados-font">(nro primer item) - (nro ultimo item) de (total en seccion) Resultados</span>
    <!-- Ejemplo pag1: 1 - 30 de 80 Resultados -->
    <!-- Ejemplo pag2: 31 - 60 de 80 Resultados -->

    <!-- Paginacion alta -->
    <div class="paginationup-container">
        <nav aria-label="Paginacion alta">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" href="#">&lt;</a>
            </li>
            <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">&gt;</a>
            </li>
        </ul>
        </nav>
    </div>
    
    <!-- Paginacion baja -->
    <div class="paginationlow-container">
        <nav aria-label="Paginacion baja">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" href="#">&lt;</a>
            </li>
            <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">&gt;</a>
            </li>
        </ul>
        </nav>
    </div>

    <div class="product_test-container">
        <div class="product-box"></div>
        <div class="add-box"></div>
        <span class="add-font">Agregar al carro</span>
        <span class="pricetag-font">$ 9.090</span>
        <span class="producto-font">Set de destornilladores y puntas 31 piezas</span>
        <span class="marca-font">REDLINE</span>
        <div class="producto-img"></div>
        <div class="producto-separador"></div>
    </div>
</body>
</html>